.tabWrapper {
    width: 40rem;
    margin: 0px auto;
    animation: animaTop .3s forwards;
}

@keyframes animaTop {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
   }

.form {
    width: 100%;
    border: 1px solid var(--main-blue);
    border-radius: .4rem;
    padding: 2rem 1rem 1rem;
    box-shadow: 3px 3px 5px #ccc;
    box-sizing: border-box;
    background: var(--super-light-blue);
}

.h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.doctor {
    width: 100%;
}

.medicationIndicationWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.medicationWrapper, .indicationWrapper {
    width: 48%;
    transition: .2s;
}

.dosageDateWrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dosageWrapper {
    display: flex;
    justify-content: space-between;
    width: 48%;
    transition: .2s;
}
.dosageInputWrapper{
    width: 30%;
}
.amountTypeWrapper{
    width: 67%;
}

.indicationWrapper {
    width: 48%;
}

.startDaysAmountWrapper {
    width: 48%;
    display: flex;
    justify-content: space-between;
    transition: .2s;
}

.dateWrapper {
    width: 56%;
}

.daysWrapper {
    width: 40%;
}

.timeSpaceHoursWrapper{
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.startWrapper{
    width: 48%;
}

.hoursMinutes {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.hours, .minutes {
    width: 48%;
    transition: 0.3s;
}

.hoursAlone {
    transition: 0.3s;
    width: 100%;
}

.hoursSpaceWrapper {
    width: 48%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.spaceWrapper {
    width: 37%;
}
.dropdownSpaceWrapper {
    width: 30%;
}

.btnWrapper {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.cancelWrapper {
    margin-top: 1rem;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: .4rem;
}

.cancelWrapperOneChild{
    margin-top: 1rem;
    background: #eee;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: .4rem;
}

.secondaryBtn {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    background: #ccc;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding: .6rem 1.2rem;
    box-sizing: border-box;
    transition: .1s;
    min-width: 8rem;
    width: 100%;    
}

.secondaryBtn:hover {
    background: #333;
    color: #eee;
    box-shadow: 0 0 0 3px #aaa;
}

@media (max-width: 426px){
    .cancelWrapper{
        grid: flex;
        grid-template-columns: 1fr;       
    }
    .secondaryBtn:nth-of-type(1){
        order: 1;
    }
    .secondaryBtn:nth-of-type(2){
        order:0;
    }
}

@media (max-width:569px){
    .medicationIndicationWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .medicationWrapper{
        margin-bottom: 1rem;

    }
    .medicationWrapper, .indicationWrapper{
        width: 100%;
    }
    .dosageDateWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dosageWrapper{
        margin-bottom: 1rem;
    }
    .dosageWrapper, .startDaysAmountWrapper{
        width: 100%;
    }
    .hoursSpaceWrapper{
        width: 100%;
    }
}